.App {
  text-align: center;
}

body {
  background-color: #f7fdf3;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.get-activity-btn {
  background-color: #bebdab;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.get-activity-btn:hover {
  background-color: #007bff;
}

p {
  font-size: 1.5rem;
  margin: 30px 50px 50px 50px;
}

.rotate {
  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-0.5deg);
  }

  50% {
    transform: rotate(0.5deg);
  }

  100% {
    transform: rotate(-0.5deg);
  }
}
